<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Evaluate a News Article</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <header>
            <img src="../imgs/logo.svg" alt="Evaluate a news article" />
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h2>Please, enter the article url:</h2>
                    <input
                        id="url-txt"
                        type="text"
                        name="input"
                        value=""
                        placeholder="URL"
                    />
                    <input
                        type="submit"
                        name=""
                        value="Submit"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
            </section>

            <section>
                <div id="results">
                    <h2 id="results-title"></h2>
                    <ul id="result-list"></ul>
                </div>
            </section>
        </main>

        <footer>
            <p>Developed by Tunics</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
    </body>
</html>
